table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}


.toto 
{
	border: 1px solid red;
	border-collapse: separate;
}

p {
	color: red;
	background-color: #F0FFF0;
}

ol
{
	color: green;

}
.media
{
	text-align: center;
}
.img
{
margin-left: 100px}